
/*
Colors to share over the project

:root {
    --color-black: rgb(0, 0, 0);
    --color-blue: #32c7ff;
}

Styleguide 2.2.
*/

:root {
    --color-black: rgb(0, 0, 0);
    --color-blue: #32c7ff;
    --color-white: rgba(255, 255, 255, .9);
}