/*
A Article .

.article    

Styleguide 2.0.
*/


.search {
    -js-display: flex;
    display: flex;
    align-items: space-between;
}


.search input, .search button {
    padding: 1.2rem;
    position: relative;
}

.search button::after {
    content: '123';
    position: absolute;
    width: 2rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    background: tomato;
    left: 100%;
    bottom: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
}